In [1]:
-- number of rows
SELECT count(*) AS 'sorok sz치ma'
FROM Flat

sorok sz치ma
104

In [3]:
-- floor area
SELECT MIN(FloorArea) as 'Min Floor Area',
       MAX(FloorArea) as 'Max Floor Area',
       AVG(FloorArea) as 'Average Floor Area'
FROM Flat

Min Floor Area,Max Floor Area,Average Floor Area
23,160,62

In [8]:
-- vendor
SELECT LEN(Vendor) as 'Name Length', COUNT(*) as 'Number of Names'
FROM Flat
GROUP BY LEN(Vendor)
ORDER BY COUNT(*) DESC

Name Length,Number of Names
13,38
12,20
14,10
16,10
10,7
15,6
19,6
17,4
18,1
11,1
9,1