In [1]:
-- number of rows
SELECT count(*) AS 'sorok száma'
FROM Flat

sorok száma
104

In [3]:
-- floor area
SELECT MIN(FloorArea) as 'Min Floor Area',
       MAX(FloorArea) as 'Max Floor Area',
       AVG(FloorArea) as 'Average Floor Area'
FROM Flat

Min Floor Area,Max Floor Area,Average Floor Area
23,160,62

In [8]:
-- vendor
SELECT LEN(Vendor) as 'Name Length', COUNT(*) as 'Number of Names'
FROM Flat
GROUP BY LEN(Vendor)
ORDER BY COUNT(*) DESC

Name Length,Number of Names
13,38
12,20
14,10
16,10
10,7
15,6
19,6
17,4
18,1
11,1
9,1

In [10]:
SELECT MIN(LEN(Vendor)) AS 'Legrövidebb', 
       MAX(LEN(Vendor)) AS 'Leghosszabb', 
       AVG(LEN(Vendor)) AS 'Átlag hossz', 
       STDEV(LEN(Vendor)) AS 'Szórás', 
       VAR(LEN(Vendor)) AS 'Eltérés'
FROM Flat

Legrövidebb,Leghosszabb,Átlag hossz,Szórás,Eltérés
9,19,13,2.192304416752658,4.806198655713214

In [13]:
-- district
SELECT TOP 10
    District as 'Kerület', 
    COUNT(*) as 'Lakások száma'
FROM Flat
GROUP BY District
ORDER BY COUNT(*) desc

Kerület,Lakások száma
13,28
9,25
8,8
7,6
2,5
6,5
5,4
10,3
14,3
15,3