In [1]:
-- number of rows
SELECT count(*) AS 'sorok sz치ma'
FROM Flat

sorok sz치ma
104