In [1]:
-- number of rows
SELECT count(*) AS 'sorok sz치ma'
FROM Flat

sorok sz치ma
104

In [3]:
-- floor area
SELECT MIN(FloorArea) as 'Min Floor Area',
       MAX(FloorArea) as 'Max Floor Area',
       AVG(FloorArea) as 'Average Floor Area'
FROM Flat

Min Floor Area,Max Floor Area,Average Floor Area
23,160,62